.imgs{
  width: 184.3px;
  }

  .imagem{
    width: 180px;
  }

.computadores{
  display: flex;
}
.compu{
  border: solid black 5px;
  border-radius: 7px;
  gap: 50px;
}
.compu h2{
  font-size: 20px;
  display: inline;
  width: 250px;
}


.perifericos{
  display: flex;
  
}
.peri{
  border: solid black 3px;

}
.peri h2{ font-size: 20px;
  display: inline;
  width: 250px;
  
}

.impressoras{
  display: flex;
  padding: 5px;
}
.impre{
  border: solid black 5px;
}
.impre h2{
  font-size: 20px;
  display: inline;
  width: 250px;
}
